<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      10 x 9 gif
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div color="primary" class="main-card">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
          <ion-row>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-01.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-01-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-02.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-02-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-03.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-03-s.gif'>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-01.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-01-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-02.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-02-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-03.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-03-s.gif'>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-01.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-01-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-02.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-02-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-03.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-03-s.gif'>
            </ion-col>
          </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-content>
          <ion-row>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-01.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-01-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-02.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-02-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-03.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-03-s.gif'>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-01.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-01-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-02.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-02-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-03.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-03-s.gif'>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-01.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-01-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-02.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-02-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-03.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-03-s.gif'>
            </ion-col>
          </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
          <ion-row>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-01.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-01-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-02.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-02-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-03.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-03-s.gif'>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-01.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-01-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-02.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-02-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-03.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-03-s.gif'>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-01.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-01-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-02.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-02-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-03.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-03-s.gif'>
            </ion-col>
          </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-content>
          <ion-row>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-01.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-01-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-02.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-02-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-03.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-03-s.gif'>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-01.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-01-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-02.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-02-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-03.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-03-s.gif'>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-01.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-01-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-02.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-02-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-03.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-03-s.gif'>
            </ion-col>
          </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
          <ion-row>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-01.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-01-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-02.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-02-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-03.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-03-s.gif'>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-01.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-01-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-02.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-02-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-03.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-03-s.gif'>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-01.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-01-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-02.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-02-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-03.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-03-s.gif'>
            </ion-col>
          </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-content>
          <ion-row>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-01.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-01-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-02.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-02-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-03.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-03-s.gif'>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-01.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-01-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-02.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-02-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-03.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-03-s.gif'>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-01.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-01-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-02.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-02-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-03.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-03-s.gif'>
            </ion-col>
          </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
          <ion-row>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-01.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-01-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-02.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-02-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-03.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-03-s.gif'>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-01.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-01-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-02.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-02-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-03.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-03-s.gif'>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-01.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-01-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-02.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-02-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-03.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-03-s.gif'>
            </ion-col>
          </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-content>
          <ion-row>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-01.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-01-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-02.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-02-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-03.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-03-s.gif'>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-01.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-01-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-02.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-02-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-03.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-03-s.gif'>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-01.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-01-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-02.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-02-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-03.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-03-s.gif'>
            </ion-col>
          </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
          <ion-row>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-01.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-01-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-02.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-02-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-03.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-03-s.gif'>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-01.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-01-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-02.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-02-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-03.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-03-s.gif'>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-01.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-01-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-02.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-02-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-03.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-03-s.gif'>
            </ion-col>
          </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-content>
          <ion-row>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-01.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-01-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-02.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-02-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-03.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-03-s.gif'>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-01.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-01-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-02.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-02-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-03.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-03-s.gif'>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-01.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-01-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-02.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-02-s.gif'>
            </ion-col>
            <ion-col size="4">
                <img (click)="playVid('https://cdn.proppyapp.biz/videos/test/vid-03.mp4')" width="100%" height="100%" src='https://cdn.proppyapp.biz/videos/test/vid-03-s.gif'>
            </ion-col>
          </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </div>

<ion-grid>
</ion-grid>
</ion-content>
