<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Upload Short Video
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div color="primary" class="main-card">
        <ion-row>
            <ion-col>
                <!-- <video id="upload-vid" (click)="playPreview($event)" width="100%" height="100%" [poster]="mySrc" preload="auto" loop muted playsinline crossorigin>
                          <source src="mySrc" type='video/mp4'>
                        </video> -->
                <img id="upload-img" [src]="mySrc">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-item>
                <ion-label>AppType: </ion-label>
                <ion-input [(ngModel)]="appName" value="{{appName}}"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>ListingID: </ion-label>
                <ion-input [(ngModel)]="listingID" value="{{listingID}}"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Hashtag: </ion-label>
                <ion-input [(ngModel)]="hashTag" value="{{hashTag}}"></ion-input>
            </ion-item>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button (click)="recordVideo()" color="success">Record Video</ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="previewVideo()" color="secondary">Preview Video</ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="uploadVideo()" color="danger">Upload Video</ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="playVideo()" color="danger">Play Live Video</ion-button>
            </ion-col>
        </ion-row>
    </div>
</ion-content>